@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="panel panel-default well">
    <div class="panel-body">
        <h2 >JoinRpg.Ru</h2>
        
        <div>
            <environment include="Production">
                <p>
                    Joinrpg помогает мастерам и игрокам готовиться к играм с 2015 года. База заявок от создателей <a href="http://kogda-igra.ru">Kogda-Igra.ru</a>.
                </p>
            </environment>
            <environment exclude="Production">
                <div class="alert alert-danger">
                    Это тестовая версия JoinRpg.ru.<br />Не используйте ее для реальной работы с игроками<br />
                    Если вы игрок и забрели сюда случайно, вам <a href="http://joinrpg.ru">на основной сервер</a>
                </div>
            </environment>
            <a asp-page="about" class="btn btn-primary">О проекте</a>
            <a href="http://docs.joinrpg.ru" class="btn btn-info">Документация</a>
            <a asp-page="game/create" class="btn btn-success">Создать базу заявок</a>
            <environment exclude="Production">
                <a asp-page="howtohelp" class="btn btn-default">Как помочь</a>
            </environment>
        </div>
    </div>
</div>
